<h1>Erika Ladner</h1>

<ul>
<li>💻Soy Full Stack Developer.</li>

<li>📈Actitud entusiasta, con espíritu emprendedor.</li>

<li>✅Proactiva. Busco aportar valor en cada acción que llevo a cabo.</li>

<li>💌Hago mi trabajo con pasión.</li>

<li>📚Organizada, responsable, dedicada y disciplinada.</li>

<li>⏱️Fácil adaptación a las nuevas circunstancias, entendiendo la situación <br>y convirtiéndola en una nueva oportunidad para seguir creciendo como profesional.</li>

<li>🧮Gran capacidad resolutiva.</li>

<li>📖Me encuentro en constante aprendizaje de aptitudes.</li>


<li>✔https://github.com/erikalad</li>
<li>📩erikaladner5@gmail.com</li>
<li>🌐CABA, Buenos Aires.</li>
</ul>
