<h1>Hola!</h1>

<div>
  💻Soy Full Stack Developer. Pasión por React!

📈Actitud entusiasta, con espíritu emprendedor.

✅Proactiva. Busco aportar valor en cada acción que llevo a cabo.

💌Hago mi trabajo con pasión.

📚Organizada, responsable, dedicada y disciplinada.

⏱️Fácil adaptación a las nuevas circunstancias, entendiendo la situación y convirtiéndola en una nueva oportunidad para seguir creciendo como profesional.

🧮Gran capacidad resolutiva.

📖Me encuentro en constante aprendizaje de aptitudes.


✔https://github.com/erikalad
📩erikaladner5@gmail.com
🌐CABA, Buenos Aires.
</div>
