/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p{
  margin:0px !important
}

.btn-primary{
  background-color: rgb(8, 0, 84);
  color:white;
  border:none;

}

.btn-primary:hover{
  background-color:rgb(16, 0, 164);
}
