.lista-tareas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.porcentaje-progress{
  display: flex;

 }

 .progreso{
  align-items: start;
  margin-right: 1rem;
  height: 30px;
 }

 .acciones{
  margin-right: 1rem;
 }

 .tached{
  text-decoration: line-through;
 }



 .card{
  margin-bottom: 1rem;
 }

 .sin-tareas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 2rem;
  width: 70%;
 }

 .boton-estadisticas{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .card-estadisticas
{
  width: 70%;
  padding:1rem
}

.carta-datos{

  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-cartas-estadistica{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cartita{
  width: 12rem;
}

.contenedor-extremo{
  display: flex;
flex-direction: column;

  border:1px solid grey;
  padding: 5rem;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 9px 10px 19px 0px rgba(114,114,114,1);
-webkit-box-shadow: 9px 10px 19px 0px rgba(114,114,114,1);
-moz-box-shadow: 9px 10px 19px 0px rgba(114,114,114,1);
}

.todoapp-title{
  text-align: center;
}

.titulos{
  background-color: rgb(8, 0, 84);
  color:white
}

@media (max-width:600px) {
  .contenedor-extremo{

    padding: 1rem !important;

  }
}
