<div class="contenedor-extremo">
<div>
  <h3 class="todoapp-title ">Lista de tareas</h3>
  <hr>
<form class="row g-3">
  <div class="col-auto">
    <textarea class="form-control" id="exampleFormControlTextarea1"  #newTodo (ngModel)="newTodo" placeholder="Nueva tarea">{{textarea}}</textarea>
  </div>
  <div >
    <button type="submit" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="cargarTodo(newTodo.value)">Añadir</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Traea Añadida!</h1>

        </div>
        <div class="modal-body">
          Tu tarea se añadio con éxito
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar </button>

        </div>
      </div>
    </div>
  </div>
</form>
<!--   <a href="/actividades"><button type="button" class="btn btn-primary mb-3"  >Ver todas las tareas</button></a> -->
</div>
<div *ngIf="dataService.data.length === 0"><div class="card sin-tareas">Sin tareas<span class="material-icons">
  note_add
  </span> </div></div>
<div class="card"  *ngFor="let dato of dataService.data,index as i">
  <div class="card-body lista-tareas">
   <p [ngClass]="{'tached':dato.status===true}">{{dato.text}}</p>
   <div>
   <a type="button" class="acciones" (click)="realicedTodo(dato.text,i)"><span class="material-icons">
    done
    </span></a> <a type="button" (click)="deleteTodo(i)"><span class="material-icons">
    delete
    </span></a>
  </div>
  </div>
</div>


<button class="btn btn-primary boton-estadisticas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="viewEstadisticas()">Estadisticas <span class="material-icons">
  bar_chart
  </span></button>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Estadisticas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body contenedor-cartas-estadistica">

      <div class="card text-bg-light mb-3 cartita" >
        <div class="card-header titulos">Cantidad de tareas</div>
        <div class="card-body">
          <h5 class="card-title">{{dataService.data.length}}</h5>
        </div>
      </div>

      <div class="card text-bg-light mb-3 cartita" >
        <div class="card-header titulos">Pendientes</div>
        <div class="card-body">
          <h5 class="card-title">{{dataService.data.length-dataService.realizadas.length}}</h5>
        </div>
      </div>

      <div class="card text-bg-light mb-3 cartita" >
        <div class="card-header titulos">Realizadas</div>
        <div class="card-body">
          <h5 class="card-title">{{dataService.realizadas.length}}</h5>
        </div>
      </div>

      <div class="card text-bg-light mb-3 cartita" >
        <div class="card-header titulos">%</div>
        <div class="card-body">
          <div class="porcentaje-progress">
            <progress class="progreso" max="100" [value]="porcentaje"></progress>
            <div>{{porcentaje}}%</div>
          </div>
        </div>
      </div>

  </div>

</div>


